In [7]:
import os

In [8]:
os.path

In [10]:
os.getcwd()

'C:\\Users\\Administrator\\Desktop'

In [12]:
import pandas as pd

In [29]:
temp = pd.read_csv('C:\\Users\\Administrator\\Desktop\\Hamoye\\Work_files\\temporal.csv')
temp.head()

          Mes  data science  machine learning  deep learning  categorical
0  2004-01-01            12                18              4            1
1  2004-02-01            12                21              2            1
2  2004-03-01             9                21              2            1
3  2004-04-01            10                16              4            1
4  2004-05-01             7                14              3            1

In [47]:
print(temp.describe())

       data science  \
count    194.000000
mean      20.953608
std       23.951006
min        4.000000
25%        6.000000
50%        8.000000
75%       26.750000
max      100.000000

       machine learning  \
count        194.000000
mean          27.396907
std           28.091490
min            7.000000
25%            9.000000
50%           13.000000
75%           31.500000
max          100.000000

       deep learning  \
count     194.000000
mean       24.231959
std        34.476887
min         1.000000
25%         2.000000
50%         3.000000
75%        34.000000
max       100.000000

       categorical
count   194.000000
mean      0.257732
std       0.438517
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

In [39]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 10)

In [46]:
temp.describe()

,data science,machine learning,deep learning,categorical
count,194.000000,194.000000,194.000000,194.000000
mean,20.953608,27.396907,24.231959,0.257732
std,23.951006,28.091490,34.476887,0.438517
min,4.000000,7.000000,1.000000,0.000000
25%,6.000000,9.000000,2.000000,0.000000
50%,8.000000,13.000000,3.000000,0.000000
75%,26.750000,31.500000,34.000000,1.000000
max,100.000000,100.000000,100.000000,1.000000

In [3]:
format_dict = {'data science':'${0:,.2f}', 'Mes':'{:%m-%Y}','machine learning':'{:.2%}'}

In [50]:
format_dict = {'Mes':'{:%m - %Y}'}
temp.head().style.format(format_dict).highlight_max(color='darkgreen').highlight_min(color ='#ff0000')

ValueError: Invalid format specifier

In [52]:
import pandas_profiling as pp

In [54]:
profile = pp.temp

AttributeError: module 'pandas_profiling' has no attribute 'temp'