In [1]:
import os

In [2]:
os.path

In [3]:
os.getcwd()

'C:\\Users\\Administrator\\Desktop'

In [4]:
import pandas as pd

In [5]:
temp = pd.read_csv('C:\\Users\\Administrator\\Desktop\\Hamoye\\Work_files\\temporal.csv')
temp.head()

          Mes  data science  machine learning  deep learning  categorical
0  2004-01-01            12                18              4            1
1  2004-02-01            12                21              2            1
2  2004-03-01             9                21              2            1
3  2004-04-01            10                16              4            1
4  2004-05-01             7                14              3            1

In [6]:
print(temp.describe())

       data science  machine learning  deep learning  categorical
count    194.000000        194.000000     194.000000   194.000000
mean      20.953608         27.396907      24.231959     0.257732
std       23.951006         28.091490      34.476887     0.438517
min        4.000000          7.000000       1.000000     0.000000
25%        6.000000          9.000000       2.000000     0.000000
50%        8.000000         13.000000       3.000000     0.000000
75%       26.750000         31.500000      34.000000     1.000000
max      100.000000        100.000000     100.000000     1.000000

In [7]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 10)

In [8]:
temp.describe()

,data science,machine learning,deep learning,categorical
count,194.000000,194.000000,194.000000,194.000000
mean,20.953608,27.396907,24.231959,0.257732
std,23.951006,28.091490,34.476887,0.438517
min,4.000000,7.000000,1.000000,0.000000
25%,6.000000,9.000000,2.000000,0.000000
50%,8.000000,13.000000,3.000000,0.000000
75%,26.750000,31.500000,34.000000,1.000000
max,100.000000,100.000000,100.000000,1.000000

In [9]:
format_dict = {'data science':'${0:,.2f}', 'Mes':'{:%m-%Y}','machine learning':'{:.2%}'}
temp['Mes']= pd.to_datetime(temp['Mes'])
temp.head().style.format(format_dict)

In [10]:
format_dict = {'Mes':'{:%m - %Y}'}
temp.head().style.format(format_dict).highlight_max(color='darkgreen').highlight_min(color ='#ff0000')

In [11]:
temp.head(10).style.format(format_dict).background_gradient(cmap='BuGn', subset= ['data science', 'machine learning'])

In [12]:
temp.head().style.format(format_dict).bar(color='red' ,subset= ['data science', 'deep learning'])

In [13]:
temp.head().style.format(format_dict).background_gradient(subset = ['data science', 'machine learning'], cmap = 'BuGn').highlight_max(color ='yellow').highlight_min(color='white')

In [14]:
import pandas as pd
import pandas_profiling as pp

In [15]:
dct = {'ID': {0: 23, 1: 43, 2: 12, 3: 13,  

              4: 67, 5: 89, 6: 90, 7: 56,  

              8: 34},  

       'Name': {0: 'Ram', 1: 'Deep', 2: 'Yash', 

                3: 'Aman', 4: 'Arjun', 5: 'Aditya', 

                6: 'Divya', 7: 'Chalsea', 

                8: 'Akash' },  

       'Marks': {0: 89, 1: 97, 2: 45, 3: 78, 

                 4: 56, 5: 76, 6: 100, 7: 87, 

                 8: 81},  

       'Grade': {0: 'B', 1: 'A', 2: 'F', 3: 'C', 

                 4: 'E', 5: 'C', 6: 'A', 7: 'B', 

                 8: 'B'} 

      }

In [16]:
d_data = pd.DataFrame(dct)

In [17]:
profile= pp.ProfileReport(d_data)
profile.to_file("profile.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [18]:
data= pd.DataFrame(temp)

In [19]:
print(data)

           Mes  \
0   2004-01-01
1   2004-02-01
2   2004-03-01
3   2004-04-01
4   2004-05-01
5   2004-06-01
6   2004-07-01
7   2004-08-01
8   2004-09-01
9   2004-10-01
10  2004-11-01
11  2004-12-01
12  2005-01-01
13  2005-02-01
14  2005-03-01
15  2005-04-01
16  2005-05-01
17  2005-06-01
18  2005-07-01
19  2005-08-01
20  2005-09-01
21  2005-10-01
22  2005-11-01
23  2005-12-01
24  2006-01-01
25  2006-02-01
26  2006-03-01
27  2006-04-01
28  2006-05-01
29  2006-06-01
30  2006-07-01
31  2006-08-01
32  2006-09-01
33  2006-10-01
34  2006-11-01
35  2006-12-01
36  2007-01-01
37  2007-02-01
38  2007-03-01
39  2007-04-01
40  2007-05-01
41  2007-06-01
42  2007-07-01
43  2007-08-01
44  2007-09-01
45  2007-10-01
46  2007-11-01
47  2007-12-01
48  2008-01-01
49  2008-02-01
50  2008-03-01
51  2008-04-01
52  2008-05-01
53  2008-06-01
54  2008-07-01
55  2008-08-01
56  2008-09-01
57  2008-10-01
58  2008-11-01
59  2008-12-01
60  2009-01-01
61  2009-02-01
62  2009-03-01
63  2009-04-01
64  2009-05-01
65  2009-06-01
66  2009-07-01
67  2009-08-01
68  2009-09-01
69  2009-10-01
70  2009-11-01
71  2009-12-01
72  2010-01-01
73  2010-02-01
74  2010-03-01
75  2010-04-01
76  2010-05-01
77  2010-06-01
78  2010-07-01
79  2010-08-01
80  2010-09-01
81  2010-10-01
82  2010-11-01
83  2010-12-01
84  2011-01-01
85  2011-02-01
86  2011-03-01
87  2011-04-01
88  2011-05-01
89  2011-06-01
90  2011-07-01
91  2011-08-01
92  2011-09-01
93  2011-10-01
94  2011-11-01
95  2011-12-01
96  2012-01-01
97  2012-02-01
98  2012-03-01
99  2012-04-01
100 2012-05-01
101 2012-06-01
102 2012-07-01
103 2012-08-01
104 2012-09-01
105 2012-10-01
106 2012-11-01
107 2012-12-01
108 2013-01-01
109 2013-02-01
110 2013-03-01
111 2013-04-01
112 2013-05-01
113 2013-06-01
114 2013-07-01
115 2013-08-01
116 2013-09-01
117 2013-10-01
118 2013-11-01
119 2013-12-01
120 2014-01-01
121 2014-02-01
122 2014-03-01
123 2014-04-01
124 2014-05-01
125 2014-06-01
126 2014-07-01
127 2014-08-01
128 2014-09-01
129 2014-10-01
130 2014-11-01
131 2014-12-01
132 2015-01-01
133 2015-02-01
134 2015-03-01
135 2015-04-01
136 2015-05-01
137 2015-06-01
138 2015-07-01
139 2015-08-01
140 2015-09-01
141 2015-10-01
142 2015-11-01
143 2015-12-01
144 2016-01-01
145 2016-02-01
146 2016-03-01
147 2016-04-01
148 2016-05-01
149 2016-06-01
150 2016-07-01
151 2016-08-01
152 2016-09-01
153 2016-10-01
154 2016-11-01
155 2016-12-01
156 2017-01-01
157 2017-02-01
158 2017-03-01
159 2017-04-01
160 2017-05-01
161 2017-06-01
162 2017-07-01
163 2017-08-01
164 2017-09-01
165 2017-10-01
166 2017-11-01
167 2017-12-01
168 2018-01-01
169 2018-02-01
170 2018-03-01
171 2018-04-01
172 2018-05-01
173 2018-06-01
174 2018-07-01
175 2018-08-01
176 2018-09-01
177 2018-10-01
178 2018-11-01
179 2018-12-01
180 2019-01-01
181 2019-02-01
182 2019-03-01
183 2019-04-01
184 2019-05-01
185 2019-06-01
186 2019-07-01
187 2019-08-01
188 2019-09-01
189 2019-10-01
190 2019-11-01
191 2019-12-01
192 2020-01-01
193 2020-02-01

     data science  \
0              12
1              12
2               9
3              10
4               7
5               9
6               9
7               7
8              10
9               8
10              8
11              8
12             10
13              9
14              8
15              8
16              8
17              8
18              6
19              9
20              7
21              7
22              7
23              5
24              7
25              7
26              7
27              7
28              7
29              6
30              5
31              6
32              7
33              6
34              7
35              4
36              6
37              7
38              6
39              5
40              6
41              6
42              4
43              5
44              6
45              6
46              6
47              5
48              6
49              6
50              5
51              6
52              5
53              5
54              5
55              5
56              6
57              6
58              6
59              5
60              6
61              6
62              6
63              6
64              5
65              5
66              4
67              5
68              7
69              6
70              7
71              6
72              7
73              7
74              6
75              6
76              6
77              5
78              5
79              5
80              7
81              6
82              6
83              5
84              7
85              6
86              6
87              6
88              5
89              5
90              4
91              5
92              7
93              7
94              7
95              6
96              7
97              7
98              7
99              6
100             6
101             6
102             6
103             7
104            10
105             8
106             8
107             6
108             8
109             8
110             8
111             9
112             9
113             8
114             8
115             9
116            12
117            11
118            11
119            10
120            13
121            12
122            13
123            13
124            12
125            12
126            13
127            16
128            19
129            17
130            17
131            16
132            19
133            18
134            18
135            20
136            19
137            20
138            20
139            23
140            27
141            25
142            24
143            22
144            27
145            27
146            26
147            27
148            27
149            27
150            26
151            29
152            36
153            33
154            34
155            33
156            41
157            42
158            44
159            42
160            43
161            43
162            42
163            47
164            53
165            53
166            52
167            48
168            58
169            57
170            58
171            58
172            59
173            57
174            60
175            64
176            68
177            70
178            67
179            61
180            76
181            77
182            75
183            77
184            76
185            80
186            85
187            88
188            95
189            90
190            87
191            81
192            94
193           100

     machine learning  \
0                  18
1                  21
2                  21
3                  16
4                  14
5                  17
6                  16
7                  14
8                  17
9                  17
10                 15
11                 16
12                 16
13                 14
14                 13
15                 12
16                 15
17                 12
18                 11
19                 10
20                 14
21                 16
22                 13
23                 13
24                 12
25                 12
26                 12
27                 12
28                 11
29                 10
30                  9
31                  9
32                 11
33                 11
34                 11
35                  9
36                 11
37                 11
38                  9
39                 10
40                  9
41                  9
42                  9
43                  9
44                  9
45                 11
46                 10
47                  8
48                  9
49                  9
50                  8
51                 10
52                  9
53                  8
54                  7
55                  7
56                  9
57                 10
58                  9
59                  8
60                  8
61                  9
62                  8
63                  9
64                  8
65                  8
66                  8
67                  8
68                  8
69                  9
70                  9
71                  8
72                  8
73                  9
74                  9
75                  9
76                  8
77                  8
78                  8
79                  8
80                  9
81                  9
82                  9
83                  9
84                  8
85                  9
86                  9
87                  9
88                  9
89                  8
90                  7
91                  8
92                 11
93                 12
94                 12
95                 10
96                 10
97                 11
98                 11
99                 11
100                11
101                10
102                10
103                10
104                12
105                13
106                12
107                11
108                11
109                12
110                12
111                13
112                13
113                12
114                12
115                11
116                13
117                16
118                15
119                14
120                14
121                16
122                16
123                17
124                16
125                15
126                16
127                16
128                18
129                18
130                20
131                18
132                20
133                21
134                21
135                24
136                22
137                24
138                24
139                23
140                26
141                27
142                30
143                28
144                28
145                32
146                34
147                34
148                34
149                36
150                32
151                34
152                39
153                42
154                46
155                46
156                51
157                56
158                59
159                61
160                63
161                65
162                62
163                64
164                71
165                75
166                80
167                72
168                76
169                80
170                82
171                82
172                83
173                81
174                81
175                82
176                85
177                90
178                88
179                81
180                86
181                93
182                91
183                92
184                92
185                93
186                92
187                93
188               100
189                98
190                97
191                89
192                94
193                99

     deep learning  \
0                4
1                2
2                2
3                4
4                3
5                3
6                3
7                3
8                4
9                4
10               2
11               2
12               2
13               3
14               2
15               3
16               3
17               3
18               2
19               2
20               2
21               3
22               4
23               2
24               3
25               3
26               2
27               2
28               2
29               2
30               1
31               2
32               1
33               2
34               2
35               3
36               2
37               3
38               3
39               3
40               1
41               2
42               2
43               3
44               2
45               2
46               2
47               3
48               2
49               2
50               3
51               2
52               2
53               2
54               3
55               1
56               2
57               2
58               2
59               2
60               3
61               3
62               2
63               3
64               2
65               2
66               2
67               2
68               3
69               2
70               2
71               2
72               2
73               2
74               2
75               2
76               2
77               2
78               3
79               2
80               2
81               3
82               3
83               2
84               3
85               2
86               3
87               2
88               3
89               2
90               2
91               2
92               3
93               3
94               3
95               2
96               3
97               3
98               2
99               3
100              4
101              3
102              3
103              3
104              3
105              4
106              6
107              4
108              5
109              4
110              5
111              6
112              7
113              5
114              6
115              6
116              8
117              7
118              8
119              8
120              9
121             10
122             10
123             10
124             11
125             10
126              9
127             11
128             12
129             12
130             11
131             17
132             19
133             20
134             21
135             19
136             20
137             23
138             23
139             22
140             24
141             24
142             28
143             28
144             34
145             34
146             44
147             44
148             42
149             46
150             40
151             41
152             46
153             52
154             55
155             59
156             65
157             69
158             75
159             76
160             80
161             78
162             76
163             84
164             87
165             89
166             94
167             91
168             91
169             93
170             95
171             95
172             98
173             90
174             88
175             87
176             94
177             97
178             94
179             87
180             93
181             95
182             98
183             98
184             97
185             96
186             96
187             92
188            100
189             98
190             96
191             91
192             93
193             99

     categorical
0              1
1              1
2              1
3              1
4              1
5              1
6              1
7              1
8              1
9              1
10             1
11             1
12             0
13             0
14             0
15             0
16             0
17             0
18             0
19             0
20             0
21             0
22             0
23             0
24             0
25             0
26             0
27             0
28             0
29             0
30             0
31             0
32             0
33             0
34             0
35             0
36             0
37             0
38             0
39             0
40             0
41             0
42             0
43             0
44             0
45             0
46             0
47             0
48             1
49             1
50             1
51             1
52             1
53             1
54             1
55             1
56             1
57             1
58             1
59             1
60             0
61             0
62             0
63             0
64             0
65             0
66             0
67             0
68             0
69             0
70             0
71             0
72             0
73             0
74             0
75             0
76             0
77             0
78             0
79             0
80             0
81             0
82             0
83             0
84             0
85             0
86             0
87             0
88             0
89             0
90             0
91             0
92             0
93             0
94             0
95             0
96             1
97             1
98             1
99             1
100            1
101            1
102            1
103            1
104            1
105            1
106            1
107            1
108            0
109            0
110            0
111            0
112            0
113            0
114            0
115            0
116            0
117            0
118            0
119            0
120            0
121            0
122            0
123            0
124            0
125            0
126            0
127            0
128            0
129            0
130            0
131            0
132            0
133            0
134            0
135            0
136            0
137            0
138            0
139            0
140            0
141            0
142            0
143            0
144            1
145            1
146            1
147            1
148            1
149            1
150            1
151            1
152            1
153            1
154            1
155            1
156            0
157            0
158            0
159            0
160            0
161            0
162            0
163            0
164            0
165            0
166            0
167            0
168            0
169            0
170            0
171            0
172            0
173            0
174            0
175            0
176            0
177            0
178            0
179            0
180            0
181            0
182            0
183            0
184            0
185            0
186            0
187            0
188            0
189            0
190            0
191            0
192            1
193            1

In [20]:
profile = pp.ProfileReport(temp)
profile.to_file('Output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [66]:
import pandas as pd
import matplotlib.pyplot as plt
plt.plot(temp['Mes'], temp['data science'], label ='data science')

In [22]:
plt.plot(temp['Mes'], temp['data science'], label ='data science')
plt.plot(temp['Mes'], temp['machine learning'], label ='machine learning')
plt.plot(temp['Mes'], temp['deep learning'], label ='deap learning')

In [23]:
plt.plot(temp['Mes'], temp['data science'], label ='data science')
plt.plot(temp['Mes'], temp['machine learning'], label ='machine learning')
plt.plot(temp['Mes'], temp['deep learning'], label ='deap learning')
plt.xlabel('Date')
plt.ylabel('Popularity')
plt.title('Popularity of AI trems by date')
plt.grid(True)
plt.legend()

In [28]:
fig, axes = plt.subplots(2,2)
axes[0,0].hist(temp['data science'])
axes[0,1].scatter(temp['Mes'], temp['data science'])
axes[1,0].plot(temp['Mes'], temp['machine learning'])
axes[1,1].plot(temp['Mes'], temp['deep learning'])

In [33]:
print(fig)

Figure(640x480)

In [39]:
axes[0,1].plot(temp['Mes'], temp['data science'],'r-1')
axes[1,0].plot(temp['Mes'], temp['machine learning']*2, 'bs')
axes[1,1].plot(temp['Mes'], temp['deep learning']*3,'g^')

In [40]:
axes[1,0].scatter(temp['data science'], temp['machine learning'])

In [41]:
axes[1,0].bar(temp['Mes'], temp['machine learning'], width=20)

In [49]:
plt.plot(temp['Mes'], temp['data science'], label ='data science')
plt.plot(temp['Mes'], temp['machine learning'], label ='machine learning')
plt.plot(temp['Mes'], temp['deep learning'], label ='deap learning')
plt.xlabel('Date')
plt.ylabel('Popularity')
plt.title('Popularity of AI trems by date')
plt.grid(True)
plt.legend()
plt.text(x = pd.to_datetime('2010-01-01'), y=80, s='r-$\lambda=1, r^2=0.8$')
plt.annotate('Notice Something', xy=(pd.to_datetime('2014-01-01'),30),
xytext=(pd.to_datetime('2016-01-01'), 50),
arrowprops={'facecolor':'red','shrink':0.05})

Text(2016-01-01 00:00:00, 50, 'Notice Something')

In [67]:
import pandas as pd
import seaborn as sns

In [68]:
sns.set()
sns.scatterplot(temp['Mes'], temp['data science'])

C:\Users\Administrator\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variables as keyword args: x, y. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

In [57]:
sns.relplot (x='Mes', y= 'deep learning', hue='data science', size ='machine learning', col='categorical',
          data= temp)

In [62]:
sns.heatmap(temp.corr(), annot=True, fmt='.2f')

In [63]:
sns.pairplot(temp)

In [64]:
sns.pairplot(temp, hue='categorical')

In [65]:
fig, axes= plt.subplots(1,2, sharey=True, figsize=(8,4))
sns.scatterplot(x='Mes', y= 'deep learning', hue= 'categorical', data=temp, ax=axes[0])
axes[0].set_title('Deep learning')
sns.scatterplot(x='Mes', y= 'machine learning', hue= 'categorical', data=temp, ax=axes[1])
axes[0].set_title('Machine learning')

Text(0.5, 1.0, 'Machine learning')

In [3]:
import folium as fl
ml=fl.Map(location=[41.38, 2.17], tiles='openstreetmap', zoom_start=18)
ml.save('Map1.html')

In [4]:
m2=fl.Map(location=[41.38, 2.17], popout='<i> Head</i>', tooltip = "don't click here").add_to(2)
fl.Marker(location=[41.38, 2.17], popout='<b> Body</b>', tooltip = "don't click here").add_to(2)
m2.save('map2.html')

AttributeError: 'int' object has no attribute 'add_child'

In [7]:
from geopandas import geocode

ImportError: cannot import name 'geocode' from 'geopandas' (C:\Users\Administrator\anaconda3\lib\site-packages\geopandas\__init__.py)